.media {
  margin: 10px auto;
  padding: 0 20px;
  max-width: 960px;
}

.media h1 {
  font-size: 28px;
  font-weight: bold;
}

.media section {
  margin: 40px 0;
}

.media h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid var(--media-separator-color);
}

.media .thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.media li img {
  display: inline-block;
  margin: 0 0 10px 0;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid black;
  box-shadow: var(--qwik-purple) 2px 2px 2px 0px;
}

.media li a {
  color: var(--interactive-text-color);
  display: block;
  font-size: 0.9em;
}

.media li a:hover {
  color: var(--qwik-purple);
}

.media li a:hover img {
  opacity: 0.9;
  box-shadow: var(--media-video-shadow-color) 2px 2px 2px 0px;
}

.media .edit-page {
  font-weight: 400;
  display: inline-block;
  padding: 12px 0;
  color: var(--interactive-text-color);
}

.media .edit-page:hover {
  text-decoration: underline;
}

@media screen and (max-width: 540px) {
  .media .thumbnails {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

.media .bullets {
  margin: 20px 0 20px 30px;
  list-style: square;
}

.media .bullets {
  margin: 20px 0 20px 30px;
  list-style: square;
}
