.docs {
  display: grid;
  grid-template-columns: 210px auto 190px;
  grid-template-areas: 'menu article on-this-page';
  gap: 40px;
}

.docs h1 {
  margin-top: 0;
}

.docs .menu {
  grid-area: menu;
}

.docs article {
  grid-area: article;
}

.docs .on-this-page {
  grid-area: on-this-page;
}
