/**
 * https://github.com/PrismJS/prism-themes/blob/master/themes/prism-vsc-dark-plus.css
 */

:root[data-theme='dark'] pre[class*='language-'],
:root[data-theme='dark'] code[class*='language-'] {
  color: #d4d4d4;
  font-size: 1.2em;
  line-height: 1.2em;
  text-shadow: none;
  font-family: Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', 'Courier New', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:root[data-theme='dark'] pre > code[class*='language-'] {
  font-size: 1em;
}

:root[data-theme='dark'] pre[class*='language-']::selection,
:root[data-theme='dark'] code[class*='language-']::selection,
:root[data-theme='dark'] pre[class*='language-'] *::selection,
:root[data-theme='dark'] code[class*='language-'] *::selection {
  text-shadow: none;
  background: #264f78;
}

@media print {
  :root[data-theme='dark'] pre[class*='language-'],
  :root[data-theme='dark'] code[class*='language-'] {
    text-shadow: none;
  }
}

:root[data-theme='dark'] pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background: #1e1e1e;
  border: 1px solid #1e1e1e;
}

:root[data-theme='dark'] :not(pre) > code[class*='language-'] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: #db4c69;
  background: #1e1e1e;
}
/*********************************************************
* Tokens
*/
:root[data-theme='dark'] .namespace {
  opacity: 0.7;
}

:root[data-theme='dark'] .token.doctype .token.doctype-tag {
  color: #569cd6;
}

:root[data-theme='dark'] .token.doctype .token.name {
  color: #9cdcfe;
}

:root[data-theme='dark'] .token.comment,
:root[data-theme='dark'] .token.prolog {
  color: #6a9955;
}

:root[data-theme='dark'] .token.punctuation,
:root[data-theme='dark'] .language-html .language-css .token.punctuation,
:root[data-theme='dark'] .language-html .language-javascript .token.punctuation {
  color: #d4d4d4;
}

:root[data-theme='dark'] .token.property,
:root[data-theme='dark'] .token.tag,
:root[data-theme='dark'] .token.boolean,
:root[data-theme='dark'] .token.number,
:root[data-theme='dark'] .token.constant,
:root[data-theme='dark'] .token.symbol,
:root[data-theme='dark'] .token.inserted,
:root[data-theme='dark'] .token.unit {
  color: #b5cea8;
}

:root[data-theme='dark'] .token.selector,
:root[data-theme='dark'] .token.attr-name,
:root[data-theme='dark'] .token.string,
:root[data-theme='dark'] .token.char,
:root[data-theme='dark'] .token.builtin,
:root[data-theme='dark'] .token.deleted {
  color: #ce9178;
}

:root[data-theme='dark'] .language-css .token.string.url {
  text-decoration: underline;
}

:root[data-theme='dark'] .token.operator,
:root[data-theme='dark'] .token.entity {
  color: #d4d4d4;
}

:root[data-theme='dark'] .token.operator.arrow {
  color: #569cd6;
}

:root[data-theme='dark'] .token.atrule {
  color: #ce9178;
}

:root[data-theme='dark'] .token.atrule .token.rule {
  color: #c586c0;
}

:root[data-theme='dark'] .token.atrule .token.url {
  color: #9cdcfe;
}

:root[data-theme='dark'] .token.atrule .token.url .token.function {
  color: #dcdcaa;
}

:root[data-theme='dark'] .token.atrule .token.url .token.punctuation {
  color: #d4d4d4;
}

:root[data-theme='dark'] .token.keyword {
  color: #569cd6;
}

:root[data-theme='dark'] .token.keyword.module,
:root[data-theme='dark'] .token.keyword.control-flow {
  color: #c586c0;
}

:root[data-theme='dark'] .token.function,
:root[data-theme='dark'] .token.function .token.maybe-class-name {
  color: #dcdcaa;
}

:root[data-theme='dark'] .token.regex {
  color: #d16969;
}

:root[data-theme='dark'] .token.important {
  color: #569cd6;
}

:root[data-theme='dark'] .token.italic {
  font-style: italic;
}

:root[data-theme='dark'] .token.constant {
  color: #9cdcfe;
}

:root[data-theme='dark'] .token.class-name,
:root[data-theme='dark'] .token.maybe-class-name {
  color: #4ec9b0;
}

:root[data-theme='dark'] .token.console {
  color: #9cdcfe;
}

:root[data-theme='dark'] .token.parameter {
  color: #9cdcfe;
}

:root[data-theme='dark'] .token.interpolation {
  color: #9cdcfe;
}

:root[data-theme='dark'] .token.punctuation.interpolation-punctuation {
  color: #569cd6;
}

:root[data-theme='dark'] .token.boolean {
  color: #569cd6;
}

:root[data-theme='dark'] .token.property,
:root[data-theme='dark'] .token.variable,
:root[data-theme='dark'] .token.imports .token.maybe-class-name,
:root[data-theme='dark'] .token.exports .token.maybe-class-name {
  color: #9cdcfe;
}

:root[data-theme='dark'] .token.selector {
  color: #d7ba7d;
}

:root[data-theme='dark'] .token.escape {
  color: #d7ba7d;
}

:root[data-theme='dark'] .token.tag {
  color: #569cd6;
}

:root[data-theme='dark'] .token.tag .token.punctuation {
  color: #808080;
}

:root[data-theme='dark'] .token.cdata {
  color: #808080;
}

:root[data-theme='dark'] .token.attr-name {
  color: #9cdcfe;
}

:root[data-theme='dark'] .token.attr-value,
:root[data-theme='dark'] .token.attr-value .token.punctuation {
  color: #ce9178;
}

:root[data-theme='dark'] .token.attr-value .token.punctuation.attr-equals {
  color: #d4d4d4;
}

:root[data-theme='dark'] .token.entity {
  color: #569cd6;
}

:root[data-theme='dark'] .token.namespace {
  color: #4ec9b0;
}
/*********************************************************
* Language Specific
*/

:root[data-theme='dark'] pre[class*='language-javascript'],
:root[data-theme='dark'] code[class*='language-javascript'],
:root[data-theme='dark'] pre[class*='language-jsx'],
:root[data-theme='dark'] code[class*='language-jsx'],
:root[data-theme='dark'] pre[class*='language-typescript'],
:root[data-theme='dark'] code[class*='language-typescript'],
:root[data-theme='dark'] pre[class*='language-tsx'],
:root[data-theme='dark'] code[class*='language-tsx'] {
  color: #9cdcfe;
}

:root[data-theme='dark'] pre[class*='language-css'],
:root[data-theme='dark'] code[class*='language-css'] {
  color: #ce9178;
}

:root[data-theme='dark'] pre[class*='language-html'],
:root[data-theme='dark'] code[class*='language-html'] {
  color: #d4d4d4;
}

:root[data-theme='dark'] .language-regex .token.anchor {
  color: #dcdcaa;
}

:root[data-theme='dark'] .language-html .token.punctuation {
  color: #808080;
}
/*********************************************************
* Line highlighting
*/
:root[data-theme='dark'] pre[class*='language-'] > code[class*='language-'] {
  position: relative;
  z-index: 1;
}

:root[data-theme='dark'] .line-highlight.line-highlight {
  background: #f7ebc6;
  box-shadow: inset 5px 0 0 #f7d87c;
  z-index: 0;
}
