.history
.vscode
dist
dist-dev
lib
node_modules
tsc-out
external
*.
**/*.log
etc
target
temp
tsdoc-metadata.json
**/.DS_Store
*.mp4
scripts/**/*
**/server/**/*.js
*.tsbuildinfo
packages/docs/api/**/*
packages/docs/src/routes/examples/apps/**/*
packages/docs/src/routes/playground/app/**/*
packages/docs/src/routes/tutorial/**/*
packages/qwik-labs/lib/**/*
packages/qwik-labs/lib-types/**/*
packages/qwik-labs/vite/**/*
packages/insights/drizzle.config.ts
packages/insights/panda.config.ts
starters/apps/base
starters/apps/library
starters/templates
vite.config.ts
