.history
.vscode
dist
dist-dev
lib
node_modules
tsc-out
external
*.
**/*.log
etc
target
temp
tsdoc-metadata.json
**/.DS_Store
*.mp4
scripts/**/*
*.tsbuildinfo
packages/docs/src/pages/examples/**/*
packages/docs/src/pages/tutorial/**/*
packages/docs/src/routes/examples/**/*
packages/docs/src/routes/tutorial/**/*
starters/apps/base
vite.config.ts
