.history
.vscode
dist
dist-dev
node_modules
tsc-out
external
*.
**/*.log
etc
target
temp
tsdoc-metadata.json
**/.DS_Store
*.mp4
scripts/**/*
*.tsbuildinfo
packages/docs/src/pages/examples/**/*
vite.config.ts
