.history
.vscode/settings.json
dist
dist-dev
bazel-*
node_modules
tsc-out
external
*.
**/*.log
etc
temp
tsdoc-metadata.json
**/.DS_Store
integration/out/
integration/todo/output
integration/*.js
integration/*.cjs
integration/*.map
src/napi/package-*
target
*.node
todo-express/
qwik-app/

# Yarn
.yarn/*
!.yarn/releases
