.history
.vscode/settings.json
dist
dist-dev
node_modules
tsc-out
external
*.
**/*.log
etc
temp
tsdoc-metadata.json
**/.DS_Store
starters/**/server
src/napi/package-*
target
*.node
todo-express/
qwik-app/

# Yarn
.yarn/*
!.yarn/releases
