**/api.md
**/*.log
**/.DS_Store
*.
.vscode/settings.json
.history
bazel-*
bazel-bin
bazel-out
bazel-qwik
bazel-testlogs
dist
dist-dev
etc
external
node_modules
temp
tsc-out
tsdoc-metadata.json
integration/**/*.js