**/api.md
**/*.log
**/.DS_Store
*.
.vscode/settings.json
.history
.yarn
.yarnrc.yml
.mf
dist
dist-dev
lib
etc
external
node_modules
target
output
rollup.config.js
build
.cache
.vscode
.rollup.cache
build
node_modules
tsconfig.tsbuildinfo
packages/docs/src/pages/**/*.mdx
packages/docs/server/
starters/**/*.js