@layer qwik-ui {
  /* browsers automatically set an interesting max-width and max-height for dialogs 
    https://twitter.com/t3dotgg/status/1774350919133691936
  */
  dialog:modal {
    max-width: unset;
    max-height: unset;
  }
}
