import { component$ } from '@builder.io/qwik';
import { DocumentHead, loader$ } from '@builder.io/qwik-city';

export const nameLoader = loader$(() => {
  return '[name]';
});

export default component$(() => {
  const name = nameLoader.use();

  return <div>{name.value} route works.</div>;
});

export const head: DocumentHead = ({ getData }) => {
  const name = getData(nameLoader);

  return {
    title: `${name}`,
  };
}
