.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button {
  background: #1d2033;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  min-width: 50px;
}

.button:hover {
  background: #006ce9;
}
