.docs.api h1:not(.overview) {
  font-size: 2rem;
}

.docs.api h2 {
  font-size: 1.25rem;
}

.docs.api h2[data-kind-label]:before {
  content: attr(data-kind-label);
}

.docs.api .docs-container {
  margin: 10px auto;
  padding: 80px 30px 0;
  max-width: 1060px;
}

.docs.api .section-title {
  display: flex;
  background: #eee;
  font-weight: 100;
  font-size: 0.8rem;
  border-radius: 4px;
  position: relative;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .docs.api .section-title {
    font-size: 1rem;
  }
}
.docs.api .section-title:before {
  content: attr(data-icon);
  display: inline-grid;
  justify-content: center;
  align-content: center;
  background: var(--qwik-blue);
  border-radius: 4px 0 0 4px;
  padding: 8px 0;
  color: white;
  min-width: 40px;
  font-weight: 400;
}
.docs.api .section-title span {
  padding: 8px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .docs.api .section-title span {
    padding: 8px 16px;
  }
}

.docs.api h3 {
  font-size: 1rem;
  margin-top: 0;
}

.docs.api a {
    display: inline-block;
    color: black;
    text-decoration: none;
}
[data-theme="dark"] .docs.api a {
    color: inherit;
}

.docs.api ul {
  margin: 0;
}

.docs.api ul li.api-item {
  padding: 0;
}

.docs.api .api-edit {
  margin-top: 0px;
  text-align: right;
}
.docs.api .api-edit a {
  font-size: 0.8rem;
  background: #eee;
  border-radius: 4px;
  padding: 4px 8px;
}

.docs.api .filter-item {
  background: #eee;
}
.docs.api .filter-item[data-kind-label]:before {
  border-radius: 4px 0 0 4px;
}
.docs.api .filter-item[data-kind-label]:not(.active):before {
  background: #bbb;
  color: #444;
}

.docs.api [data-kind-label]:before {
  border-radius: 4px;
  color: white;
  display: inline-block;
  margin-right: 8px;
  text-align: center;
  min-width: 32px; /* ensure the label is always the same width on the overview */
  padding: 2px 10px;
}

.docs.api h2[data-kind-label]:before {
  margin-right: 24px;
}

.docs.api [data-kind-label="V"]:before {
  content: 'V';
  background: var(--qwik-purple);
}
.docs.api [data-kind-label="P"]:before {
  content: 'P';
  background: var(--qwik-blue);
}
.docs.api [data-kind-label="I"]:before {
    content: 'I';
    background: var(--qwik-dark-blue);
}
.docs.api [data-kind-label="T"]:before {
    content: 'T';
    background: var(--qwik-dark-purple);
}
.docs.api [data-kind-label="M"]:before {
    content: 'M';
    background: #c3ba4c;
}
.docs.api [data-kind-label="F"]:before {
    content: 'F';
    background: #5bc0de;
}
.docs.api [data-kind-label="N"]:before {
    content: 'N';
    background: #5cb85c;
}