.vector {
  font-size: xx-small;
  border-spacing: 0;
}

.vector td {
  text-align: center;
}

.rotate {
  transform: rotate(-90deg) translate(1em, 0);
  transform-origin: right bottom 0;
  vertical-align: bottom;
  max-width: 0.8em;
  height: 8em;
}

.vector td.row-symbol {
  font-weight: bold;
  max-width: 8em;
  text-align: right;
}

.vector td[data-value='0'] {
  color: lightgray;
  background-color: #fff;
}
.vector td[data-value='1'] {
  color: lightgray;
  background-color: #eee;
}
.vector td[data-value='2'] {
  color: lightgray;
  background-color: #ddd;
}
.vector td[data-value='3'] {
  color: lightgray;
  background-color: #ccc;
}
.vector td[data-value='4'] {
  color: lightgray;
  background-color: #bbb;
}
.vector td[data-value='5'] {
  color: lightgray;
  background-color: #aaa;
}
.vector td[data-value='6'] {
  color: lightgray;
  background-color: #999;
}
.vector td[data-value='7'] {
  color: lightgray;
  background-color: #888;
}
.vector td[data-value='8'] {
  color: lightgray;
  background-color: #777;
}
.vector td[data-value='9'] {
  color: lightgray;
  background-color: #666;
}
.vector td[data-value='A'] {
  color: lightgray;
  background-color: #555;
}
.vector td[data-value='B'] {
  color: lightgray;
  background-color: #444;
}
.vector td[data-value='C'] {
  color: lightgray;
  background-color: #333;
}
.vector td[data-value='D'] {
  color: lightgray;
  background-color: #222;
}
.vector td[data-value='E'] {
  color: lightgray;
  background-color: #111;
}
.vector td[data-value='F'] {
  color: lightgray;
  background-color: #000;
}
