/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
}

body {
  background: linear-gradient(90deg, rgba(24, 182, 246, 0.3) 0%, rgba(172, 127, 244, 0.3) 100%);
  /* background-color: #e1e1e1; */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 200;
  padding: 60px 0px;
}

h1,
h2,
h3 {
  font-weight: 100;
}

h1 b,
h2 b,
h3 b {
  font-weight: 300;
}

h1 {
  color: white;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

h1.hero {
  margin: 60px 0;
}

h2 {
  color: var(--qwik-dark-purple);
}

input[type='text'],
button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 12px;
  font-size: 1rem;
  padding: 10px 20px;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: var(--qwik-dark-purple);
}

button.small {
  border-radius: 6px;
  font-size: 0.8rem;
  padding: 5px 10px;
}

button.gray {
  border-color: #ccc;
  color: #ccc;
}

a,
a:active,
a:visited,
a:hover {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

.section.bright {
  background: white;
}

.section.dark {
  background: rgba(50, 50, 50, 0.5);
}

code {
  background: rgba(230, 230, 230, 0.3);
  border-radius: 4px;
  padding: 2px 6px;
}

.page {
  width: 70vw;
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(90deg, rgba(24, 182, 246, 0.6) 0%, rgba(172, 127, 244, 0.6) 100%);
  overflow: hidden;
  border-radius: 6px;
}

.container {
  padding: 30px 70px;
}

.container.center {
  text-align: center;
}

.container.mh-300 {
  min-height: 300px;
}

.topics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
