.wrapper {
  margin: 0 auto;
  padding: 30px 40px;
}

.anchor {
  color: white;
  display: block;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
}

.anchor:hover {
  color: var(--qwik-light-blue);
}
