@reference "tailwindcss";

.on-this-page {
  @apply py-8 pt-10;
  @apply text-base;

  position: sticky;
  top: var(--header-height);
  min-width: var(--aside-width);
  height: calc(100vh - var(--header-height));
}

.on-this-page h6 {
  @apply font-bold text-center pb-3 uppercase;
}

.on-this-page li {
  @apply rounded-lg;
}

.on-this-page-item {
  @apply block px-3 py-2 whitespace-nowrap overflow-hidden text-ellipsis;
}

.more-item {
  @apply inline-flex gap-x-2 px-3 py-2 items-center;
}
