.sidebar {
  @apply fixed z-20 top-0 bottom-0;
}

.breadcrumbs {
  @apply fixed z-10 w-[100%];
  top: var(--header-height);
  @apply border-b border-slate-300;
  @apply px-1;
  @apply flex;
  @apply text-slate-600 bg-white;

  /* large */
  @apply lg:hidden;
}

.breadcrumbs button {
  @apply block;
  @apply p-4;
  @apply opacity-70;
  @apply hover:opacity-100;
}

.breadcrumbs ol {
  @apply flex text-sm leading-6 whitespace-nowrap min-w-0;
  @apply flex items-center;
}

.breadcrumbs li {
  @apply pl-1 pr-5;
  position: relative;
}

.breadcrumbs li:after {
  position: absolute;
  content: '\203A';
  top: -1px;
  right: 6px;
}

.breadcrumbs li:last-child::after {
  content: '';
}

.menu {
  @apply fixed z-10 top-[78px] bottom-0;
  @apply pb-6;
  @apply overflow-y-auto;
  @apply hidden;

  @apply right-auto left-[max(0px,calc(50%-45rem))];

  /* large */
  @apply lg:block;
  @apply lg:pl-4 lg:pr-4;
  @apply lg:w-[18rem];
}

.menu h5 {
  @apply font-semibold  px-3 py-1 mb-1 rounded-md whitespace-nowrap;
  color: var(--qwik-dark-blue);
  font-weight: 800;
}

.menu ul {
  @apply border-slate-100 pb-5;
}

.menu li {
  @apply whitespace-nowrap;
}

.menu li a {
  @apply py-1 pl-3 block text-slate-900 hover:bg-slate-200;
  border-radius: 3px;
}

.menu li a.is-active {
  @apply bg-slate-100;
}
