nav.breadcrumbs {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

nav.breadcrumbs > span {
  display: inline-block;
  padding: 5px 0;
  font-size: 12px;
}

nav.breadcrumbs > span a {
  text-decoration: none;
  color: inherit;
}

nav.breadcrumbs > span::after {
  content: '>';
  padding: 0 5px;
  opacity: 0.4;
}

nav.breadcrumbs > span:last-child::after {
  display: none;
}
