header {
  height: calc(var(--header-height));
  margin-bottom: 6px;
  color: white;
  background: var(--qwik-blue);
  box-shadow: 0px 2px 5px #0000003d;
}

.fixed-header header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
}

header li {
  @apply font-semibold px-2 mx-2 text-right;
  @apply py-4 md:py-0;
}

header a:hover {
  text-decoration: underline;
}

header li a:hover svg {
  opacity: 0.8;
}

header .mobile-menu {
  position: absolute;
  right: 0;
  @apply p-3 md:hidden;
}

header ul {
  @apply hidden md:block;
  @apply pt-0 pb-6 md:pt-0;
}

header .more-icon {
  display: block;
}

header .close-icon {
  display: none;
}

@media (max-width: 767px) {
  .header-open header ul {
    position: absolute;
    z-index: 10;
    display: block;
    top: var(--header-height);
    width: 100%;
    background: var(--qwik-blue);
  }

  .header-open header .more-icon {
    display: none;
  }

  .header-open header .close-icon {
    display: block;
  }
}

header .header-inner {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.full-width header .header-inner {
  max-width: 100%;
}

header .header-logo {
  position: absolute;
  top: 5px;
  left: max(0px, calc(50% - 45rem));
  padding-left: 1rem;
}

.full-width header .header-logo {
  left: 0;
}
