#tweetPostShell {
  position: absolute;
  width: 480px;
  height: auto;
  /* background-color: brown; */
  /* z-index: 601; */
  /* z-index: 600; */

  /* top: 20px;
  left: 60px; */
}

#ogImage {
  position: absolute;
  width: 420px;
  height: auto;
  top: 298px;
  left: 30px;
  /* z-index: 600; */
  /* border-radius: 18px;
  border: 4px solid purple; */
}
