.hero {
  color: white;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 300px;
  justify-content: center;
  gap: 30px;
}

.hero button {
  padding: 10px 40px;
}
