.hero {
  color: white;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 200px;
  justify-content: center;
  gap: 30px;

  @media screen and (min-width: 768px) {
    height: 300px;
  }
}

.hero button {
  padding: 10px 40px;
}
