.content-nav {
  display: flex;
  padding: 10px 20px 10px 10px;
}

.content-nav .prev,
.content-nav .next {
  flex: 1;
}

.content-nav a {
  position: relative;
  background-color: #0093ee;
  border: 1px solid #0093ee;
  border-radius: 5px;
  padding: 6px 16px;
  text-decoration: none;
  color: white;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
  max-width: 150px;
}

.content-nav a:hover {
  background-color: white;
  color: #0093ee;
}

.content-nav .next {
  text-align: right;
}

.content-nav .prev a {
  padding-left: 24px;
}

.content-nav .next a {
  padding-right: 24px;
}

.content-nav .prev a::before {
  position: absolute;
  content: "\2039";
  top: 5px;
  left: 11px;
}

.content-nav .next a::after {
  position: absolute;
  content: "\203A";
  top: 5px;
  right: 11px;
}
