header {
  background-color: #0093ee;
}

header .header-inner {
  display: grid;
  grid-template-columns: 1fr auto auto;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.full-screen header .header-inner {
  max-width: 100%;
}

header a {
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  margin-right: 5px;
  border-radius: 4px;
}

header a:hover {
  background-color: #ffffff50;
}

header .active {
  background-color: #ffffff30;
}

.theme-toggle {
  background: transparent;
  width: 30px;
  border: none;
  cursor: pointer;
}

.theme-light .theme-toggle::before {
  content: "☽";
}

.theme-dark .theme-toggle::before {
  content: "☀";
}
