.actions {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0;
  list-style: none;
}

.actions h1 {
  margin: 0 0 1rem 0;
}

.actions h2 {
  font-size: 14px;
  margin: 0 0 1rem 0;
}

.input {
  flex: 1;
}

.input form {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  margin: 10px 0 10px 0;
  padding: 5px 15px;
}

.input form label {
  display: block;
}

.output {
  flex: 1;
}
