**/*.log
**/.DS_Store
*.
.vscode/settings.json
.history
.yarn
dist
dist-dev
etc
external
node_modules
temp
tsc-out
tsdoc-metadata.json
target
output
rollup.config.js
build
.cache
.vscode
.rollup.cache
dist
tsconfig.tsbuildinfo
