.themeIcon {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
  width: 25px;
  height: 25px;
}

.themeIcon.auto {
  width: 21px;
  height: 21px;
}

:root[data-theme='light']:not([data-theme-auto]) .themeIcon.light,
:root[data-theme='dark']:not([data-theme-auto]) .themeIcon.dark,
:root[data-theme-auto] .themeIcon.auto {
  opacity: 1;
}
