@layer qwik {
  @supports selector(html:active-view-transition-type(type)) {
    html:active-view-transition-type(qwik-navigation) {
      :root {
        view-transition-name: none;
      }
    }
  }
  @supports not selector(html:active-view-transition-type(type)) {
    :root {
      view-transition-name: none;
    }
  }
}
