name: Qwik PR Checks

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - ready_for_review

permissions:
  pull-requests: write

jobs:
  ############ SEMANTIC PR TITLE VALIDATION  fofofofo############
  semantic-pr:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          wip: true
